<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlink}}
</head>
<body>
{{>navbar}}
   
   <div class="container-fluid main_header">
    <div class="row">
         <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-12 col-12 main_header_left align-items-centre">
                    <figure class="errimg">
                       <img src="images/404.png" alt="img" class="img-fluid" title="amandeep">
                    </figure>
                      
                    <p>Welcome to weather app</p>
                     <h1>{{errorMsg}}</h1>
                    <a href="/" ><button>Go back</button></a>
                 
                </div>
                
                
                
            </div>
         </div>
    </div>
   </div>
  {{>footer}}
</body>
</html>